PassengerEnabled On
PassengerAppRoot /home/m/maksudaq/golovolomka.maksudaq.beget.tech/public_html/main/main
PassengerPython /home/m/maksudaq/golovolomka.maksudaq.beget.tech/public_html/venv/bin/python