{% load theme_static %}{% load thumbnail %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- base -->
    <title> {% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <link rel="canonical" href="{% block canonical %}{% endblock %}">
    <meta name="theme-color" content="{{ setup.theme_color }}">
    {% if setup.active == True %}<meta name="robots" content="index,follow">{% else %}<meta name="robots" content="noindex,nofollow">{% endif %}
    <!-- base -->
    <!-- og -->
    <meta property="og:site_name" content="{{ setup.name }}"> 
    <meta property="og:locale" content="ru_RU">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{% block og:title %}{% endblock %}">
    <meta property="og:description" content="{% block og:description %}{% endblock %}">
    <meta property="og:url" content="{% block og:url %}{% endblock %}">
    <meta property="og:image" content="{% block og:image %}{% endblock %}">
    <meta property="og:image:secure_url" content="{% block og:image:secure_url %}{% endblock %}">
    <meta property="og:image:width" content="537">
    <meta property="og:image:height" content="240">
    <!-- og -->
    <!-- twitter -->
    <meta name="twitter:image" content="{% block twitter:image %}{% endblock %}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{% block twitter:title %}{% endblock %}" >
    <meta name="twitter:description" content="{% block twitter:description %}{% endblock %}">
    <!-- twitter -->
    {% block other %}{% endblock %}
    <!-- icons -->
    <link rel="shortcut icon" href="{% if setup.icon_ico %}{{ setup.icon_ico.url }}{% endif %}" type="image/x-icon">
    <link rel="icon" href="{% if setup.icon_svg %}{{ setup.icon_svg.url }}{% endif %}">
    <link rel="apple-touch-icon" href="{% if setup.icon_png %}{{ setup.icon_png.url }}{% endif %}">
    {% thumbnail setup.icon_png "57x57" format="PNG" as im %}<link rel="apple-touch-icon" sizes="57x57" href="{{ im.url }}">{% endthumbnail %}
    {% thumbnail setup.icon_png "72x72" format="PNG" as im %}<link rel="apple-touch-icon" sizes="72x72" href="{{ im.url }}">{% endthumbnail %}
    {% thumbnail setup.icon_png "76x76" format="PNG" as im %}<link rel="apple-touch-icon" sizes="76x76" href="{{ im.url }}">{% endthumbnail %}
    {% thumbnail setup.icon_png "114x114" format="PNG" as im %}<link rel="apple-touch-icon" sizes="114x114" href="{{ im.url }}">{% endthumbnail %}
    {% thumbnail setup.icon_png "120x120" format="PNG" as im %}<link rel="apple-touch-icon" sizes="120x120" href="{{ im.url }}">{% endthumbnail %}
    {% thumbnail setup.icon_png "144x144" format="PNG" as im %}<link rel="apple-touch-icon" sizes="144x144" href="{{ im.url }}">{% endthumbnail %}
    {% thumbnail setup.icon_png "152x152" format="PNG" as im %}<link rel="apple-touch-icon" sizes="152x152" href="{{ im.url }}">{% endthumbnail %}
    {% thumbnail setup.icon_png "180x180" format="PNG" as im %}<link rel="apple-touch-icon" sizes="180x180" href="{{ im.url }}">{% endthumbnail %}
    <!-- icons -->
    
    
    <link rel="stylesheet" href="{% get_libs 'owl/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% get_libs 'owl/assets/owl.theme.default.min.css' %}">
    <link href="{% get_static 'css/style.css' %}?v.1.0.4" rel="stylesheet">
    <link rel="stylesheet" href="{% get_libs 'veno/venobox.css' %}">

    {% for code in codes %}
        {% if code.h_f == True %}
            {{ code.code | safe }}
        {% endif %}
    {% endfor %}
    
  
</head>

<body>

    {% include 'components/header.html' %}
    

    
    <div class="content">

        {% block body %}


            {% block content %}
            {% endblock %}
            
        {% endblock %}



    </div>

    {% block extra_body %}{% endblock %}


    {% include 'components/footer.html' %}
    {% include 'components/popup.html' %}
    

    <script src="{% get_libs 'js/jquery.min.js' %}"></script>

    
    <script src="{% get_libs 'owl/owl.carousel.min.js' %}"></script>
    <script src="{% get_libs 'veno/venobox.min.js' %}"></script>

    <script src="{% get_static 'js/app.js' %}?{% now 'H:i:s' %}"></script>
    
    

        
    <!-- Подключаем JavaScript Яндекс Капчи -->
    <script src="https://smartcaptcha.yandexcloud.net/captcha.js" defer></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let captchaInstances = {}; // Объект для хранения капчи каждой формы
        
            // Инициализируем капчу для каждой формы
            document.querySelectorAll(".game-form").forEach((form) => {
                let captchaContainer = form.querySelector(".captcha-container");
                let hiddenInput = form.querySelector("input[name='smart-token']");
        
                if (captchaContainer && hiddenInput) {
                    let captchaId = captchaContainer.id; // Уникальный ID контейнера
        
                    // Создаем капчу в контейнере
                    captchaInstances[captchaId] = smartCaptcha.render(captchaContainer.id, {
                        sitekey: "ysc1_aXNXNGpZUz5PqTGzMhIm58hElUEmFgs94lHPFEM7a7842753",
                        onSuccess: function (token) {
                            hiddenInput.value = token; // Сохраняем токен в скрытое поле
                        }
                    });
                }
            });
        
            // Обработчик отправки формы
            document.body.addEventListener("submit", function (event) {
                if (event.target.classList.contains("game-form")) {
                    event.preventDefault();
        
                    let form = event.target;
                    let errorMessage = form.querySelector(".error-message");
                    let tokenInput = form.querySelector("input[name='smart-token']");
        
                    // Проверяем, есть ли токен (прошел ли пользователь капчу)
                    if (!tokenInput.value) {
                        errorMessage.style.display = "block";
                        errorMessage.innerText = "Подтвердите, что вы не робот!";
                        return;
                    }
        
                    let formData = new FormData(form);
                    formData.append("smart-token", tokenInput.value);

                    console.log("smart-token:", tokenInput.value);
        
                    fetch(form.action, {
                        method: "POST",
                        body: formData,
                        headers: {
                            "X-CSRFToken": formData.get("csrfmiddlewaretoken"),
                        },
                    })
                        .then((response) => response.json())
                        .then((data) => {
                            if (data.success) {
                                

                                form.reset();
                                tokenInput.value = ""; // Очищаем токен для следующей отправки
                                window.location.href = data.url;

                            } else {

                                
                                errorMessage.style.display = "block";
                                errorMessage.innerText = data.error || "Ошибка при отправке формы";
        
                                if (data.errors) {
                                    for (const [key, value] of Object.entries(data.errors)) {
                                        errorMessage.innerHTML += `<br><b>${key}:</b> ${value.join(", ")}`;
                                    }
                                }
                                
                            }
                        })
                        .catch((error) => {
                            errorMessage.style.display = "block";
                            errorMessage.innerText = "Ошибка соединения с сервером";
                            
                        });
                }
            });
        });
        </script>
        




    {% for code in codes %}
        {% if code.h_f == False %}
            {{ code.code | safe }}
        {% endif %}
    {% endfor %}
</body>
</html>

