



@font-face {
	font-family: 'Gilroy'; 
	src: local('Gilroy-Light'),
		url('../fonts/gilroy/Gilroy-Light.otf') format('opentype'); 

	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy'; 
	src: local('Gilroy-ExtraBold'),
		url('../fonts/gilroy/Gilroy-ExtraBold.otf') format('opentype'); 

	font-weight: 700;
	font-style: normal;
}
