.why-fr {
    padding: 40px 0;
    // .why-fr__inner

    &__inner {
    }

    // .why-fr__title

    &__title {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 40px;
        @media screen and (min-width: 576px) {
            margin-bottom: 80px;
        }
    }

    // .why-fr__row

    &__row {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin-bottom: 40px;

        @media screen and (min-width: 576px) {
            grid-template-columns: repeat(2, 1fr);
            
        }

        @media screen and (min-width: 992px) {
            grid-template-columns: repeat(4, 1fr);
        }

        .what__item-wrap {
            width: 100%; 
            max-width: 100%;
        }

        .what__item {
            max-width: 100%;
            width: 100%!important;
            display: block;
            margin-left: 30px;
            height: fit-content;

        }

        .what__text {
            text-align: start;
            font-size: 15px;
        }

        .what__count {
            left: 10px;
        }
    }

    // .why-fr__item

    &__item {
        position: relative;
        padding: 20px;
        border-radius: 20px;
        background: rgba(217, 217, 217, 0.1);
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.1);
    }

    // .why-fr__count

    &__count {
        font-size: 80px;
        font-weight: 700;
        position: absolute;
        // top: -50px;
        // left: -50px;
        z-index: -1;
    }

    // .why-fr__item-title

    &__item-title {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    // .why-fr__text

    &__text {
        color: #fff;
        font-size: 15px;
    }

    // .why-fr__bg

    &__bg {
    }
}


.why-fr {
    
    // .why-fr__doyou

    &__doyou {
        background-color: #f4d01ecf;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
        padding: 20px;
        border-radius: 20px;

        @media screen and (min-width: 992px) {
            max-width: 50%;
            margin: 0  auto;
        }
    }

    // .why-fr__doyou-title

    &__doyou-title {
        background: linear-gradient(180deg, #202020 0%, #212121 100%); /* Градиент */
        -webkit-background-clip: text; /* Поддержка для WebKit-браузеров */
        -webkit-text-fill-color: transparent; /* Прозрачный текст */
        background-clip: text; /* Для других браузеров */
        text-fill-color: transparent; /* Прозрачный текст для других браузеров */
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 40px;

    }



    // .why-fr__doyou-wrap

    &__doyou-wrap {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    // .why-fr__doyou-btn

    &__doyou-btn {
        text-transform: uppercase;
        background: none;
        border: none;
        color: #1E1E1E;
        font-weight: 700;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;    
        width: 122px;
        height: 33px;
        
        
        p {
            position: relative;
            z-index: 2;
            font-size: 16px;
            color: #1E1E1E;
            font-weight: 700;
        }

        svg {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
            -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
            box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        }
    }


    &__doyou-btn p {
        color: #F4D11E;
    }
}
